:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --color-white: #ffff;
    --color-light-blue: #2196F3;
    --color-dark-blue: #188CE8;
    --color-dark: #212121;
    --color-light-grey: #757575;
    --color-dark-grey: #2F303A;
    --letter-spacing-normal: 0.03em;

}
a {
    text-decoration: none;
}
.list {
    list-style: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
button {
    cursor: pointer;
}
h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}


/* верхній хедер */

.page-header-container {
    display: flex; 
    justify-content: space-between;
}
.page-nav {
    display: flex;
    align-items: center;
}
.header {
    background-color: var(--color-white);
    padding-top: 32px;
    padding-bottom: 32px;
}

.head-web-studio {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: var(--letter-spacing-normal);
    margin-right: 93px;
}
.first-part {
    color: var(--color-light-blue);
}
.second-part {
    color: #000000 ;
}

.navigation-menu {
    display: flex;
    column-gap: 50px;
}

.menu-nav-link:hover { color:var(--color-dark-blue)}
.menu-nav-link:focus { color:var(--color-dark-blue)} 
/* для обох сторінок */


.menu-nav-link {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-dark);
}

/* .menu-nav-item:not(:last-child) {
    margin-right: 50px;
} */

.current {
    color: var(--color-light-blue);
}



/* контакти */
.contacts-list {
    display: flex;
}
.active-link:hover, .active-link:focus { color:var(--color-dark-blue)}

.item-email {
    margin-left: 50px;
}

.item-link {
    font-family: var(--primary-font);
    color: var(--color-light-grey);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

    
 /* головна частина */
    
/* шапка з кнопкою */
    .section-decision {
        background-color: var(--color-dark-grey);
        color: var(--color-white);
        font-family: var(--primary-font);

    }
    .decision {
        padding-top: 200px;
        padding-bottom: 200px;
        display: block;
        text-align: center;
        width: 696px;
    }
    .title-decision {
        font-family: var(--primary-font);
        font-weight: 900;
        font-size: 44px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        margin-bottom: 30px;
        
    }

    .button-order {
        background-color: var(--color-light-blue);
        color: var(--color-white);
        border-color: var(--color-light-blue);
        font-family: var(--primary-font);
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
    }
    .button-order:hover { background-color:var(--color-dark-blue) }

/* пріоритети */

    .head-title-priorities, 
    .visually-hidden {
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
    }
    .priorities {
        font-family: var(--primary-font);
        font-size: 14px;
        letter-spacing: var(--letter-spacing-normal);
        

    }
    .priorities-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 30px;
    }
    .item-priorities {
        /* width: 270px; */
        flex-basis: calc((100% - 90px) / 4);

    }
    .title {   
        
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        text-transform: uppercase;
        color: var(--color-dark);
        
    }
    .text {   
        line-height: 24px;            
        color: var(--color-light-grey);
        margin-top: 10px;
    }
/* чим ми займаємося */

.section {
    padding-top: 94px;
    padding-bottom: 94px;

}

img {
    display: block;}
.working-list {
    display: flex;
    justify-content: space-between;
}
.section-title {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: var(--letter-spacing-normal);
    color: var(--color-dark);
    margin-bottom: 50px;
}

/* команда */
    .team-space {
    background-color: #F5F4FA;
}
.team-list {
    display: flex;
    justify-content: space-between;
   
}
.card {
    background-color: var(--color-white);  
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: var(--letter-spacing-normal);
    align-items: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc((100% - 90px) / 4);
}
.info-team {
    display: block;
    text-align: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
    .name {
    font-weight: 500;
    color: var(--color-dark);
    margin-bottom: 10px;
}

    .position {
    font-weight: 400;
    color: var(--color-light-grey); 
    
}
/* нижній хедер */
.footer {
    background-color: var(--color-dark-grey);
    }
    
.fotter-a {
    font-style: normal;
     padding-top: 60px;
     padding-bottom: 60px;
}
.f-contact-list {
  display: block;
  flex-wrap: wrap;
  row-gap: 9px;
  margin-top: 20px;
}
.footer-web-studio {
    font-family: var(--secondary-font);
    font-weight: 700;
    
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: var(--letter-spacing-normal);
   
    
    
}
.f-first-part {
    color: var(--color-light-blue);
}
.f-second-part {
    color: var(--color-white) ;
}
.geo:hover { color:var(--color-dark-blue)}
.bottom-contacts:hover { color:var(--color-dark-blue)}

.geo:focus { color:var(--color-dark-blue)} 
.bottom-contacts:focus { color:var(--color-dark-blue)} 


.geo,
.bottom-contacts {
    font-family: var(--primary-font);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: var(--letter-spacing-normal);
    
}
.geo {
    color: var(--color-white);  
}
.bottom-contacts {
    color: #ffffff99;
}






/* PORTOFOLIO */


/* верхній хедер */
.header {
    background-color: var(--color-white);
    border-bottom: 1px solid #ECECEC;
}
.head-web-studio,
.menu-nav {
    align-items: center;
}

.head-web-studio,
.footer-web-studio {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: var(--letter-spacing-normal);
}
.first-part {
    color: var(--color-light-blue);
}
.second-part {
    color: #000000 ;
    }
.menu-nav {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
        
    .nav-link-stud:hover, .nav-link-stud:focus { color:var(--color-dark-blue)}
    .nav-link-port:hover, .nav-link-port:focus { color:var(--color-dark-blue)}
    .nav-link-cont:hover, .nav-link-cont:focus { color:var(--color-dark-blue)}
        
.nav-link-port{   
    color: var(--color-light-blue);
}

.nav-link-stud,
.nav-link-cont {   
    color:var(--color-dark);
}
    
/* контакти */

.port-section {
    padding-top: 94px;
    padding-bottom: 94px;
}
    
/* buttons */
.title-projects, 
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
     border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.btn-filter {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    align-items: center;
    padding-left: 300px;
    margin-bottom: 50px;

}
.button {
    background-color: #F5F4FA;
    color: var(--color-dark);
    border-radius: 4px;
    border: none;
    width: 130px;
    height: 38px;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: var(--letter-spacing-normal);
    
   
}

.button:hover, .button:focus  { background-color:var(--color-dark-blue); color: var(--color-white); }

.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.card-project {
    border: 1px solid #EEEEEE;
    flex-basis: calc((100% - 60px) / 3);
}
.info-project {
    display: block;
    padding-left: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.h-project {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-dark);
}
.text-project {
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: var(--letter-spacing-normal);
    color: var(--color-light-grey);

}
/* footer */
.footer {
    background-color: var(--color-dark-grey);
}
.footer-a {
    font-style:normal;
    padding-top: 60px;
    padding-bottom: 60px;
}

    
.f-first-part {
    color: var(--color-light-blue);
}
    
.f-second-part {
    color: var(--color-white) ;
}

    .geo:hover { color:var(--color-dark-blue)}
    .bottom-contacts:hover { color:var(--color-dark-blue)}
        
    .geo:focus { color:var(--color-dark-blue)} 
    .bottom-contacts:focus { color:var(--color-dark-blue)} 

.geo,
.bottom-contacts {
    font-family: var(--primary-font);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: var(--letter-spacing-normal);
}
.geo {
    color: var(--color-white);  
}

.bottom-contacts { 
    color: #ffffff99; 
}